.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #111111;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        height: 300px;
        width: 300px;
        padding: 2rem;
        border: 0.4rem solid black;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .circle{
            width: 80px;
            height: 80px;
            padding: 0.5rem;
            border: 0.3rem solid black;
            border-radius: 50%;
            
            h1{
                text-align: center;
            }
        }

        .btn{
            background: transparent;
            border: 2px solid blue;
            border-radius: 0.4rem;

        }
    }
}